body{
  background-image: radial-gradient(circle, rgba(255, 0, 0, 0.443) ,red);
    font-family: 'CustomFont', sans-serif;
}

body::-webkit-scrollbar{
    display: none;
}



.name{
  font-size: 1.5em;
  color: whitesmoke;
}
.price{
  font-size: 0.8em;
  color: whitesmoke;
  margin-top: 15px;
}
.detail{
  background-color: transparent;
  margin : 20% 0 0 3%;
  height: 20%;
  width: 22%;
  z-index: 4;
  position: absolute;
}

.shoebody {
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  background-color: transparent;
  z-index: 2;
  display: flex;
}
.shoe{
  text-align: center;
  transform: rotate(-40deg);
  scale: 1.2;
  color: transparent;
  z-index: 2;
}

.content {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; /* Center align the content */
  position: absolute;
  color:white;
  z-index: 1;
}

.bg {
    width: 200px; /* Example width */
    height: 100px; /* Example height */
    background-color: transparent; /* Example background color */
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 18em;
    letter-spacing: -20px;
    z-index: 1;
}
  
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: transparent;
    z-index: 4;
    user-select: none;
    position: fixed; /* Change to fixed to stay at the top */
    width: 100%; /* Ensure navbar spans the full width */
    top: 0; /* Position navbar at the top */
    transition: top 0.3s; /* Smooth transition for hiding and showing the navbar */
  }
  
  .navbar.hide-navbar {
    top: -120px; /* Move the navbar out of view */
  }
  .navbar-logo{
    z-index: 4;
  }
  
  .navbar-title  {
    height: 40px;
    scale: 2.5; 
    padding: 15px 0px 0px 20px;
    z-index: 2;
    user-select: none;
    font-family: "Nuport";
    margin: 0.5cm 0cm 0cm 1.3cm;
    color:beige;
  }
  
  
  .navbar-links {
    display: inline;
    padding: 0px 20px;
    display: flex;
    color: #fff;
    margin-right: 100px;
   }
   #tabs{
    margin-left: 30px;
    margin-right: 30px;
    font-size: 1.3em;
    text-decoration: none;
    color: #fff;
    transition: all 0.5s  0s;
    z-index: 4;
   }
  
   #tabs:hover {
    color: chocolate; /* Change text color to blue on hover */
  }
  
  #tabs::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -25px; /* Adjust this value to position the image */
    left: 60%;
  
    transform: translateX(-50%);
    width: 30px; /* Set the width of the image */
    height: 30px; /* Set the height of the image */
    background-image: url('/assests/nike.png');
    scale: 1.5;
    /* transform: rotate(180deg); Path to your small image */
    background-size: contain; /* Display the full image without cropping */
    background-repeat: no-repeat;
    background-position: center center; /* Center the image within the tab */
    opacity: 0; /* Initially hide the image */
    transition: opacity 0.3s; /* Add a smooth fade-in effect */
  }
  
  #tabs:hover::after {
    opacity: 1; /* Show the image on hover */
  }



  .navigation-buttons {
    position: absolute;
    right: 150px;
    bottom: 130px;
    display: flex;
    gap: 10px;
  }
  .btn {
    background-color: transparent;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    margin: 0 0.25rem;
    padding: 0.75rem;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.2rem;
  }
.navigation-buttons .btn:hover {
    background-color: #0056b3;
}




  @font-face {
    font-family: 'CustomFont';
    src: url(/fonts/unitedkingdom.otf) format('woff2'), /* Modern Browsers */
         url(/fonts/unitedkingdom.otf) format('woff'); /* Legacy Browsers */

    /* You can add additional font formats and variations if needed */
}
@font-face {
  font-family: 'Nuport';
  src: url(/fonts/NuportFont.otf) format('woff2'), /* Modern Browsers */
       url(/fonts/NuportFont.otf) format('woff'); /* Legacy Browsers */
  /* You can add additional font formats and variations if needed */
}
  





.menu {
  display: none;
  color: beige;
  margin-right: 50px;
  margin-top: -50px;
}

.menu .material-icons {
  font-size: 3em;
  cursor: pointer;
}

#sidebar_close {
  margin: 30px 30px 0px 0px;
  scale: 2.2;
  align-self: flex-start;
}

.mob-navbar-links {
  position: fixed;
  top: -20px;
  right: 0;
  height: 50%;
  width: 60%;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.295); 
  backdrop-filter: blur(8px); /* Blur effect */
  -webkit-backdrop-filter: blur(8px); /* For Safari support */
  border-radius: 0 0 0 100px ; 
  padding: 20px; 
  backdrop-filter: opacity 0;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  
}

.mob-navbar-links li {
  margin-top: 1cm;
  width: 100%;
  list-style-type: none;
}

.mob-navbar-links a {
  text-decoration: none;
  color: white;
}

#mobtabs {
  margin-top: 1cm;
  font-size: 2em;
}

@media (max-width: 768px) {

  .navbar-links {
    display: none;
  }

  .navbar {
    display: flex;
    flex-direction: row;
  }

  .menu {
    display: block;
  }

  .navbar-title {
    font-size: 1.2em;
    padding-left: 5px;
    padding-bottom: 20px;
  }

  .body {
    background-color: transparent;
    position: absolute;
    margin-top: 10%;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
  }
  
  .content {
    position: absolute;
    left: 0%;
    margin-top: 220px;
    margin-left: 1.2%;
    top: -2%;
    z-index: 3;
    height: 50%;
    padding: 10px;
    border-radius: 5px;
    user-select: none;
    letter-spacing: 2px;
    scale: 1.1;
  }}
